{%  extends 'main/TemplateQuiz.html' %}
{% load static %}


{% block content %}
<div class = "question" id = "A3">
    <p>given equations</p>
    <p class="question-latex"></p>
    <p class="question-latex"></p>
    <p>Find their sum</p>
    <div class = "user-input"> </div>
</div>

 <div class = "question" id = "A1">
     <p>Given Equation </p> 
     <p class="question-latex"></p>
     
     <p>Find partial x</p>
     <div class = "user-input"> </div>
     <p>Find partial y</p>
     <div class = "user-input"> </div>
     
 </div>
{% endblock %}
